@value colors: "../../../root/styles/var/colors.css";
/* @value colors: "CSSVar/colors.css"; */
@value PRIMARY, SECONDARY, CUSTOM from colors;

.row{
  padding: 20px;
  border: 1px solid CUSTOM;
}
.column{
  color: white;
  padding: 10px;
}
.columnLeft{
  composes: column;
  background-color: PRIMARY;
}
.columnRight{
  composes: column;
  background-color: SECONDARY;
}


.sectionOne{
  background-color: PRIMARY;
  padding: 5rem 0 0;
}
.sectionTwo{
  background-color: CUSTOM;
  padding: 5rem 0 0;
}
