@value colors: "@CSS/colors.css";
@value YELLOW, DARK_GREY from colors;

.hero{
  height: 70vh;
  background-color: YELLOW;

  h1{
    color: DARK_GREY;
  }
  p{
    color: DARK_GREY;
  }
}
.heroIcon{
  fill: DARK_GREY;
}


.counter{
  margin-top: 10px;
  button, div{
    display: inline-block;
  }
}

.counterNumber{
  margin: 0 10px;
}
