{
  "presets": ["react", "es2015" , "stage-2"],
  "plugins": [
    ["babel-plugin-webpack-alias", {"config": "${PWD}/config/aliases/index.js"}],
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}
