@value HEADER_HEIGHT: 60px;

.mainHeader{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: HEADER_HEIGHT;
  background-color: white;
  padding: 0 15px;
  z-index: 99999;

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
  }

  a{
    height: HEADER_HEIGHT;
    color: black;
    text-decoration: none;
    line-height: HEADER_HEIGHT;
  }
}
