@value breakpoints: "@CSS/breakpoints.css";
@value XS, SM, MD, LG from breakpoints;

.section{
  background-color: #f4f4f4;
  padding: 2rem 0;
}

.imageHolder{
  display: flex;
  justify-content: center;

  img{
    align-self: center;
  }
}

.image{
  border: none;
  max-width: 100%;
}

.imageL{
  composes: image;
  float: left;
}
.imageR{
  composes: image;
  float: right;
}



/*** MEDIA QUERIES ***/
@media only screen and (min-width: XS) {
  .mobFirst{ order: -1; }
}
@media only screen and (min-width: SM) {
  .mobFirst{ order: initial; }
  /* .imageHolder{ display: block; } */
}
@media only screen and (min-width: MD) {}
@media only screen and (min-width: LG) {}
